In [2]:
# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer


# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [5]:
df = pd.read_json("./files/spaceX_Lunch.json")

df.head()

,fairings,links,static_fire_date_utc,static_fire_date_unix,net,window,rocket,success,failures,details,crew,ships,capsules,payloads,launchpad,flight_number,name,date_utc,date_unix,date_local,date_precision,upcoming,cores,auto_update,tbd,launch_library_id,id
0,"{'reused': False, 'recovery_attempt': False, '...",{'patch': {'small': 'https://images2.imgbox.co...,2006-03-17T00:00:00.000Z,1.142554e+09,False,0.0,5e9d0d95eda69955f709d1eb,0.0,"[{'time': 33, 'altitude': None, 'reason': 'mer...",Engine failure at 33 seconds and loss of vehicle,[],[],[],[5eb0e4b5b6c3bb0006eeb1e1],5e9e4502f5090995de566f86,1,FalconSat,2006-03-24T22:30:00.000Z,1143239400,2006-03-25T10:30:00+12:00,hour,False,"[{'core': '5e9e289df35918033d3b2623', 'flight'...",True,False,None,5eb87cd9ffd86e000604b32a
1,"{'reused': False, 'recovery_attempt': False, '...",{'patch': {'small': 'https://images2.imgbox.co...,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,0.0,"[{'time': 301, 'altitude': 289, 'reason': 'har...",Successful first stage burn and transition to ...,[],[],[],[5eb0e4b6b6c3bb0006eeb1e2],5e9e4502f5090995de566f86,2,DemoSat,2007-03-21T01:10:00.000Z,1174439400,2007-03-21T13:10:00+12:00,hour,False,"[{'core': '5e9e289ef35918416a3b2624', 'flight'...",True,False,None,5eb87cdaffd86e000604b32b
2,"{'reused': False, 'recovery_attempt': False, '...",{'patch': {'small': 'https://images2.imgbox.co...,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,0.0,"[{'time': 140, 'altitude': 35, 'reason': 'resi...",Residual stage 1 thrust led to collision betwe...,[],[],[],"[5eb0e4b6b6c3bb0006eeb1e3, 5eb0e4b6b6c3bb0006e...",5e9e4502f5090995de566f86,3,Trailblazer,2008-08-03T03:34:00.000Z,1217734440,2008-08-03T15:34:00+12:00,hour,False,"[{'core': '5e9e289ef3591814873b2625', 'flight'...",True,False,None,5eb87cdbffd86e000604b32c
3,"{'reused': False, 'recovery_attempt': False, '...",{'patch': {'small': 'https://images2.imgbox.co...,2008-09-20T00:00:00.000Z,1.221869e+09,False,0.0,5e9d0d95eda69955f709d1eb,1.0,[],Ratsat was carried to orbit on the first succe...,[],[],[],[5eb0e4b7b6c3bb0006eeb1e5],5e9e4502f5090995de566f86,4,RatSat,2008-09-28T23:15:00.000Z,1222643700,2008-09-28T11:15:00+12:00,hour,False,"[{'core': '5e9e289ef3591855dc3b2626', 'flight'...",True,False,None,5eb87cdbffd86e000604b32d
4,"{'reused': False, 'recovery_attempt': False, '...",{'patch': {'small': 'https://images2.imgbox.co...,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,1.0,[],None,[],[],[],[5eb0e4b7b6c3bb0006eeb1e6],5e9e4502f5090995de566f86,5,RazakSat,2009-07-13T03:35:00.000Z,1247456100,2009-07-13T15:35:00+12:00,hour,False,"[{'core': '5e9e289ef359184f103b2627', 'flight'...",True,False,None,5eb87cdcffd86e000604b32e

# Exploración del DataFrame

In [ ]:
## tipo de datos de las columnas: info, shape, 
## estadisticas de las columnas: describe
## ver la cantidad y cuales columnas
## valores unicos
## duplicados
## ver si hay nulos

In [6]:
df.shape ## tengo 205 filas, con 27 columnas

(205, 27)

In [7]:
df.columns

Index(['fairings', 'links', 'static_fire_date_utc', 'static_fire_date_unix',
       'net', 'window', 'rocket', 'success', 'failures', 'details', 'crew',
       'ships', 'capsules', 'payloads', 'launchpad', 'flight_number', 'name',
       'date_utc', 'date_unix', 'date_local', 'date_precision', 'upcoming',
       'cores', 'auto_update', 'tbd', 'launch_library_id', 'id'],
      dtype='object')

In [8]:
df.info() ## verificar el tipo de datos de las columnas, identificando los nulos, tengo la misma información en varias columnas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   fairings               169 non-null    object
 1   links                  205 non-null    object
 2   static_fire_date_utc   121 non-null    object
 3   static_fire_date_unix  121 non-null    float64
 4   net                    205 non-null    bool
 5   window                 117 non-null    float64
 6   rocket                 205 non-null    object
 7   success                186 non-null    float64
 8   failures               205 non-null    object
 9   details                134 non-null    object
 10  crew                   205 non-null    object
 11  ships                  205 non-null    object
 12  capsules               205 non-null    object
 13  payloads               205 non-null    object
 14  launchpad              205 non-null    object
 15  flight_number          205 non-null    int64
 16  name                   205 non-null    object
 17  date_utc               205 non-null    object
 18  date_unix              205 non-null    int64
 19  date_local             205 non-null    object
 20  date_precision         205 non-null    object
 21  upcoming               205 non-null    bool
 22  cores                  205 non-null    object
 23  auto_update            205 non-null    bool
 24  tbd                    205 non-null    bool
 25  launch_library_id      72 non-null     object
 26  id                     205 non-null    object
dtypes: bool(4), float64(3), int64(2), object(18)
memory usage: 37.8+ KB

In [24]:
## estadisticos
display (df.describe().T)
print (".........")
display(df.describe(include="object").T)

,count,mean,std,min,25%,50%,75%,max
static_fire_date_unix,121.0,1.520206e+09,9.080036e+07,1.142554e+09,1.475417e+09,1.529789e+09,1.589368e+09,1.650464e+09
window,117.0,2.568974e+03,4.389948e+03,0.000000e+00,0.000000e+00,0.000000e+00,5.280000e+03,1.830000e+04
success,186.0,9.731183e-01,1.621743e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
flight_number,205.0,1.028146e+02,5.902911e+01,1.000000e+00,5.200000e+01,1.030000e+02,1.540000e+02,2.030000e+02
date_unix,205.0,1.566077e+09,1.037329e+08,1.143239e+09,1.513992e+09,1.601984e+09,1.647660e+09,1.670198e+09

.........

,count,unique,top,freq
fairings,169,38,"{'reused': None, 'recovery_attempt': None, 're...",61
links,205,191,"{'patch': {'small': None, 'large': None}, 'red...",15
static_fire_date_utc,121,121,2006-03-17T00:00:00.000Z,1
rocket,205,3,5e9d0d95eda69973a809d1ec,195
failures,205,6,[],200
details,134,133,This mission launches the eighteenth batch of ...,2
crew,205,9,[],197
ships,205,90,[],85
capsules,205,22,[],170
payloads,205,192,[],12
launchpad,205,4,5e9e4501f509094ba4566f84,112
name,205,205,FalconSat,1
date_utc,205,199,2022-12-01T00:00:00.000Z,5
date_local,205,200,2022-11-30T19:00:00-05:00,4
date_precision,205,3,hour,192
cores,205,191,"[{'core': None, 'flight': None, 'gridfins': Tr...",10
launch_library_id,72,72,f31702e8-6353-4c9a-932c-5bd104717500,1
id,205,205,5eb87cd9ffd86e000604b32a,1

In [ ]:
df_cat = df.select_dtypes(include = "object")
df_cat.head()

for col in df_cat:
    display(df[col].value_counts().reset_index().head())

In [21]:
## ver si hay duplicados 
df.duplicated(subset="id").sum()

0

In [27]:
## ver la cantidad de nulos
df.isnull().sum()[df.isnull().sum()>0]/df.shape[0]

fairings                 0.175610
static_fire_date_utc     0.409756
static_fire_date_unix    0.409756
window                   0.429268
success                  0.092683
details                  0.346341
launch_library_id        0.648780
dtype: float64

In [32]:
df['flight_number'].duplicated().sum()

4

# Limpieza del DataFrame

In [ ]:
#fairings es necesario transformarlo para ver sus valores 
#link es necesario trasnformarlo
# fechas puedo tranformarlas, por año y mes 
## eliminar columnas con la misma informacion: static_fire_date_unix 
## eliminar duplicado de la columna: flight_number

In [46]:
##  "fairings": { "reused": false, "recovery_attempt": false,"recovered": false,"ships": []},
df['fairings']

0      {'reused': False, 'recovery_attempt': False, '...
1      {'reused': False, 'recovery_attempt': False, '...
2      {'reused': False, 'recovery_attempt': False, '...
3      {'reused': False, 'recovery_attempt': False, '...
4      {'reused': False, 'recovery_attempt': False, '...
                             ...
200    {'reused': None, 'recovery_attempt': None, 're...
201    {'reused': None, 'recovery_attempt': None, 're...
202    {'reused': None, 'recovery_attempt': None, 're...
203    {'reused': None, 'recovery_attempt': None, 're...
204    {'reused': None, 'recovery_attempt': None, 're...
Name: fairings, Length: 205, dtype: object

In [45]:
df['fairings'].apply(pd.Series)

    reused recovery_attempt recovered ships
0    False            False     False    []
1    False            False     False    []
2    False            False     False    []
3    False            False     False    []
4    False            False     False    []
..     ...              ...       ...   ...
200   None             None      None    []
201   None             None      None    []
202   None             None      None    []
203   None             None      None    []
204   None             None      None    []

[205 rows x 4 columns]

In [54]:
df['links'].apply(pd.Series)

,patch,reddit,flickr,presskit,webcast,youtube_id,article,wikipedia
0,{'small': 'https://images2.imgbox.com/94/f2/NN...,"{'campaign': None, 'launch': None, 'media': No...","{'small': [], 'original': []}",None,https://www.youtube.com/watch?v=0a_00nJ_Y88,0a_00nJ_Y88,https://www.space.com/2196-spacex-inaugural-fa...,https://en.wikipedia.org/wiki/DemoSat
1,{'small': 'https://images2.imgbox.com/f9/4a/Zb...,"{'campaign': None, 'launch': None, 'media': No...","{'small': [], 'original': []}",None,https://www.youtube.com/watch?v=Lk4zQ2wP-Nc,Lk4zQ2wP-Nc,https://www.space.com/3590-spacex-falcon-1-roc...,https://en.wikipedia.org/wiki/DemoSat
2,{'small': 'https://images2.imgbox.com/6c/cb/na...,"{'campaign': None, 'launch': None, 'media': No...","{'small': [], 'original': []}",None,https://www.youtube.com/watch?v=v0w9p3U8860,v0w9p3U8860,http://www.spacex.com/news/2013/02/11/falcon-1...,https://en.wikipedia.org/wiki/Trailblazer_(sat...
3,{'small': 'https://images2.imgbox.com/95/39/sR...,"{'campaign': None, 'launch': None, 'media': No...","{'small': [], 'original': []}",None,https://www.youtube.com/watch?v=dLQ2tZEH6G0,dLQ2tZEH6G0,https://en.wikipedia.org/wiki/Ratsat,https://en.wikipedia.org/wiki/Ratsat
4,{'small': 'https://images2.imgbox.com/ab/5a/Pe...,"{'campaign': None, 'launch': None, 'media': No...","{'small': [], 'original': []}",http://www.spacex.com/press/2012/12/19/spacexs...,https://www.youtube.com/watch?v=yTaIDooc8Og,yTaIDooc8Og,http://www.spacex.com/news/2013/02/12/falcon-1...,https://en.wikipedia.org/wiki/RazakSAT
...,...,...,...,...,...,...,...,...
200,"{'small': None, 'large': None}","{'campaign': None, 'launch': None, 'media': No...","{'small': [], 'original': []}",None,None,None,None,None
201,"{'small': None, 'large': None}","{'campaign': None, 'launch': None, 'media': No...","{'small': [], 'original': []}",None,None,None,None,None
202,"{'small': None, 'large': None}","{'campaign': None, 'launch': None, 'media': No...","{'small': [], 'original': []}",None,None,None,None,None
203,"{'small': None, 'large': None}","{'campaign': None, 'launch': None, 'media': No...","{'small': [], 'original': []}",None,None,None,None,None
204,"{'small': None, 'large': None}","{'campaign': None, 'launch': None, 'media': No...","{'small': [], 'original': []}",None,None,None,None,None

In [ ]:
df[['article','webcast']] = df['links'].apply(pd.Series)[['article','webcast']]
df.head()

In [42]:
df[['reused', 'recovery_attempt', 'recovered']] = df['fairings'].apply(pd.Series).iloc[:, :3]
df.head(1)

,fairings,links,static_fire_date_utc,static_fire_date_unix,net,window,rocket,success,failures,details,crew,ships,capsules,payloads,launchpad,name,date_utc,date_unix,date_local,date_precision,upcoming,cores,auto_update,tbd,launch_library_id,id,reused,recovery_attempt,recovered
0,"{'reused': False, 'recovery_attempt': False, '...",{'patch': {'small': 'https://images2.imgbox.co...,2006-03-17 00:00:00+00:00,1.142554e+09,False,0.0,5e9d0d95eda69955f709d1eb,0.0,"[{'time': 33, 'altitude': None, 'reason': 'mer...",Engine failure at 33 seconds and loss of vehicle,[],[],[],[5eb0e4b5b6c3bb0006eeb1e1],5e9e4502f5090995de566f86,FalconSat,2006-03-24T22:30:00.000Z,1143239400,2006-03-25T10:30:00+12:00,hour,False,"[{'core': '5e9e289df35918033d3b2623', 'flight'...",True,False,None,5eb87cd9ffd86e000604b32a,False,False,False

In [ ]:
df.drop('fairings', axis=1, inplace = True)

In [50]:
df.head(2)

,links,static_fire_date_utc,static_fire_date_unix,net,window,rocket,success,failures,details,crew,ships,capsules,payloads,launchpad,name,date_utc,date_unix,date_local,date_precision,upcoming,cores,auto_update,tbd,launch_library_id,id,reused,recovery_attempt,recovered
0,{'patch': {'small': 'https://images2.imgbox.co...,2006-03-17 00:00:00+00:00,1.142554e+09,False,0.0,5e9d0d95eda69955f709d1eb,0.0,"[{'time': 33, 'altitude': None, 'reason': 'mer...",Engine failure at 33 seconds and loss of vehicle,[],[],[],[5eb0e4b5b6c3bb0006eeb1e1],5e9e4502f5090995de566f86,FalconSat,2006-03-24T22:30:00.000Z,1143239400,2006-03-25T10:30:00+12:00,hour,False,"[{'core': '5e9e289df35918033d3b2623', 'flight'...",True,False,None,5eb87cd9ffd86e000604b32a,False,False,False
1,{'patch': {'small': 'https://images2.imgbox.co...,NaT,NaN,False,0.0,5e9d0d95eda69955f709d1eb,0.0,"[{'time': 301, 'altitude': 289, 'reason': 'har...",Successful first stage burn and transition to ...,[],[],[],[5eb0e4b6b6c3bb0006eeb1e2],5e9e4502f5090995de566f86,DemoSat,2007-03-21T01:10:00.000Z,1174439400,2007-03-21T13:10:00+12:00,hour,False,"[{'core': '5e9e289ef35918416a3b2624', 'flight'...",True,False,None,5eb87cdaffd86e000604b32b,False,False,False

In [ ]:
lista = ['flight_number', 'static_fire_date_unix']
for col in lista: 
    df.drop(col, axis= 1, inplace= True)
    df.head()

In [ ]:
## transformar fechas: static_fire_date_utc
df['static_fire_date_utc'] = pd.to_datetime(df['static_fire_date_utc'])
df.head()

In [ ]:
## dos columnas nuevas para almacenar el año y el mes
df[['year', 'month']] = df['static_fire_date_utc'].apply(lambda x : pd.Series[x.year, x.month]) 
df.head()

# Gestión de nulos

In [57]:
## ver los nulos
#static_fire_date_utc
## ver la cantidad de nulos
df.isnull().sum()[df.isnull().sum()>0]/df.shape[0]

static_fire_date_utc     0.409756
static_fire_date_unix    0.409756
window                   0.429268
success                  0.092683
details                  0.346341
launch_library_id        0.648780
reused                   0.546341
recovery_attempt         0.478049
recovered                0.585366
article                  0.307317
webcast                  0.082927
dtype: float64

In [6]:
## columnas qye tengan nulos y sean catgoricas
nulos_categ =  df[df.columns[df.isna().any()]].select_dtypes(include = ["object", 'datetime64']).columns
nulos_categ

Index(['fairings', 'static_fire_date_utc', 'details', 'launch_library_id'], dtype='object')

In [65]:
## columnas que tengan nulos pero que sean numericas
nulos_num =  df[df.columns[df.isnull().any()]].select_dtypes(include = np.number).columns
nulos_num =  df[df.columns[df.isnull().any()]].select_dtypes(include = [int, float]).columns
nulos_num

Index(['static_fire_date_unix', 'success'], dtype='object')

In [64]:
## imputar un variable numerica
## cantidad de nulos: 42% 

imputer_iter = IterativeImputer(max_iter = 10, random_state = 42)
df['window'] = imputer_iter.fit_transform(df[['window']])

# Filtrado de Datos

In [70]:
### seleccionamos aquellas filas donde 'date_precision' sea igual a day y que haya tenido exito :1
df['date_precision'].unique()
df[(df['date_precision'] == 'day') & (df['success'] == 1) ]

## buscar cohete con un nombre especficio
df[df['name'].str.contains("Falcon")]

,links,static_fire_date_utc,static_fire_date_unix,net,window,rocket,success,failures,details,crew,ships,capsules,payloads,launchpad,name,date_utc,date_unix,date_local,date_precision,upcoming,cores,auto_update,tbd,launch_library_id,id,reused,recovery_attempt,recovered,article,webcast
0,{'patch': {'small': 'https://images2.imgbox.co...,2006-03-17 00:00:00+00:00,1.142554e+09,False,0.0,5e9d0d95eda69955f709d1eb,0.0,"[{'time': 33, 'altitude': None, 'reason': 'mer...",Engine failure at 33 seconds and loss of vehicle,[],[],[],[5eb0e4b5b6c3bb0006eeb1e1],5e9e4502f5090995de566f86,FalconSat,2006-03-24T22:30:00.000Z,1143239400,2006-03-25T10:30:00+12:00,hour,False,"[{'core': '5e9e289df35918033d3b2623', 'flight'...",True,False,None,5eb87cd9ffd86e000604b32a,False,False,False,https://www.space.com/2196-spacex-inaugural-fa...,https://www.youtube.com/watch?v=0a_00nJ_Y88
5,{'patch': {'small': 'https://images2.imgbox.co...,2010-03-13 00:00:00+00:00,1.268438e+09,False,0.0,5e9d0d95eda69973a809d1ec,1.0,[],None,[],[],[],[5eb0e4b7b6c3bb0006eeb1e7],5e9e4501f509094ba4566f84,Falcon 9 Test Flight,2010-06-04T18:45:00.000Z,1275677100,2010-06-04T14:45:00-04:00,hour,False,"[{'core': '5e9e289ef359185f2b3b2628', 'flight'...",True,False,None,5eb87cddffd86e000604b32f,None,None,None,http://www.spacex.com/news/2013/02/12/falcon-9...,https://www.youtube.com/watch?v=nxSxgBKlYws
54,{'patch': {'small': 'https://images2.imgbox.co...,2018-01-24 17:30:00+00:00,1.516815e+09,False,9000.0,5e9d0d95eda69974db09d1ed,1.0,[],"The launch was a success, and the side booster...",[],"[5ea6ed2f080df4000697c90c, 5ea6ed2f080df400069...",[],[5eb0e4c6b6c3bb0006eeb21c],5e9e4502f509094188566f88,Falcon Heavy Test Flight,2018-02-06T20:45:00.000Z,1517949900,2018-02-06T15:45:00-05:00,hour,False,"[{'core': '5e9e28a5f359187f703b2653', 'flight'...",True,False,None,5eb87d13ffd86e000604b360,False,False,False,https://spaceflightnow.com/2018/02/07/spacex-d...,https://www.youtube.com/watch?v=wbSwFU6tY1c

# Groupby

In [72]:
## cuantos lanzamientos con exito
df_exito = df.groupby("success")["id"].count().reset_index()

## con porcentaje
df_exito['porcentaje']= (df_exito['id']/df_exito['id'].sum())*100
df_exito

   success   id  porcentaje
0      0.0    5    2.688172
1      1.0  181   97.311828